mixin head(name)
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title  #{name}
		link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
		meta(http-equiv='content-language', content='es')
		meta(http-equiv='pragma', content='No-Cache')
		meta(name='Description', lang='es', content='')
		meta(name='date', content='2014')
		meta(name='robots', content='All')
		link(rel='author', type='text/plain', href='humans.txt')
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='assets/css/main.css', rel='stylesheet', type='text/css')
		script(src='assets/js/lib/jquery-1.11.0.min.js')
		script(src='assets/js/main.js')
	

-color = color || 'red'
- name = name || 'Antonia Garcia Perez'
- rol = rol || 'Agente Inmobiliario'
- phone = phone || '57 + 1 2425639'
- mobil = mobil || '314 4598126'
- mail = mail || 'agente@ubicala.com'

mixin header
	header
		//-		img(src="assets/images/bg-banner.jpg")
		.wrapper
			figure
				img(src="assets/images/agente.jpg")
			.contact-data
				hgroup
					h1 #{name}
					h2 #{rol}
				span
					+icon('mobile','lg')
				p #{mobil}
				span
					+icon('phone','') 
				p #{phone}
				span
					+icon('envelope-o','')
				p #{mail}
					
mixin main-menu
	nav.main-menu
		ul
			each val in ['inmuebles', 'proyectos', 'contacto']
				li
					a= val

mixin icon(icon,size)
	-icon = icon || ''
	-size = size || '1x'
	i(class='fa fa-#{icon} fa-#{size}')


	