mixin h1(h1)
	h1= h1

mixin h2(h2)
	h2= h2

mixin h3(h3)
	h3= h3

mixin h4
	h4 Lorem Ipsum Dolor Sit Amet

mixin h5(h5)
	h5= h5

mixin h6(h6)
	h6= h6


mixin hgroup (h1, h2)
	hgroup
		h1= h1
		h2= h2
